@font-face {
  font-family: 'Chaparral Pro';
  src: url('../public/fonts/ChaparralPro-Regular.woff2') format('woff2'),
       url('../public/fonts/ChaparralPro-Regular.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Chaparral Pro';
  src: url('../public/fonts/ChaparralPro-Bold.woff2') format('woff2'),
       url('../public/fonts/ChaparralPro-Bold.woff') format('woff');
  font-display: swap;
  font-style: normal;
  font-weight: bold;
}

:root {
  /* Colour Variables */
  --strawberry:#FF8675;
  --hazelnut: #F3E7D3;
  --chocolate: #988D7B;
  --cream: #FFF7EA;

  --strawberry-hover: #f26e5d;
  --chocolate-hover: #8d8271;

  /* Font Colors */
  --font-color-primary: #5C5C5C;
  --font-color-secondary: var(--chocolate);

  /* Font Family Variables */
  --font-family-primary: 'Chaparral Pro', serif;
  --font-family-secondary: 'Source Sans 3', sans-serif;

  /* Font Weight Variables */
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --font-weight-bold: bold;

  /* Text Transform Variables */
  --letter-spacing: 0.3rem;
  --text-transform-capitalize: capitalize;
  --text-transform-none: none;
  --text-transform-uppercase: uppercase;

  /* Border Radius Variables */
  --border-radius: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-sm: 0.125rem;
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: var(--hazelnut);
  margin: 0;
  padding: clamp(1.25rem, 3vw, 2.5rem);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-family-primary);
  font-weight: var(--font-weight-bold);
  margin: 0;
}
p {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-weight-regular);
  margin: 0;
}
